---
layout: default 
---
<html lang="en-us">

  {% include head.html %}


  <body>


  <div class="post">
    <h1 class="post-title">{{ page.title }}</h1>
    <span class="post-date">{{ page.date | date_to_string }}</span>

    {{ content }}
  </div>


  <div/>
  <center>
  <b>Copyright 2014-{{ site.time | date: '%Y' }} Matthew Ballance. All Rights Reserved</b>
  </center>
  <em>The views and opinions expressed above are solely those of the author and do not 
      represent those of my employer or any other party.</em>

    {% if page.series %}
    <br/>
    <br/>
      {% assign seriesPosts = site.posts | sort: "date" | where_exp: "post", "post.series == page.series" %}
      {% if seriesPosts.size >= 1 %}
      <h2>Posts in the series "{{ page.series }}"</h2>
      <ul>
        {% for post in seriesPosts %}
        {% if post.title != page.title %}
        <li><a href="{{ post.url }}">{{post.title}}</a></li>
        {% else %}
        <li>{{post.title}}</li>
        {% endif %}
        {% endfor %}
      </ul>
      {% endif %}
    {% endif %}

  <br/>
  <h3>Bits, Bytes, and Gates Direct to your Inbox</h3>
  {% include subscribe.html %}
  <br/>
  <br/>

  {% comment %}
  {% if site.related_posts.size >= 1 %}
  <div class="related">
    <h2>Related posts</h2>
    <ul class="related-posts">
      {% for post in site.related_posts limit:3 %}
        <li>
          <h3>
            <a href="{{ site.baseurl }}{{ post.url }}">
              {{ post.title }}
              <small>{{ post.date | date_to_string }}</small>
            </a>
          </h3>
        </li>
      {% endfor %}
    </ul>
  </div>
  {% endif %}
  {% endcomment %}

  </body>
</html>